$color-primary: #0A014F;
$color-secondary: #4159CE;
$color-success: #57DFB5;
$color-error: #EE3A23;
$color-default: #757575;

$primary: $color-primary;


$spinner-color: $color-primary;
$spinner-accent: $color-secondary;
