<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="row d-flex justify-content-md-center">
    <div class="col col-lg-12">
      <div class="card">
        <div class="logo-container">
          <a routerLink="/">
            <img src="assets/images/logo-roundapp.png" class="logo">
          </a>
        </div>
        <div class="card-content">
          <h1>Reset Password</h1>
          <form class="form-password-forgot" [formGroup]="form">
            <ng-container *ngIf="!sent; else sentBlock">

              <div class="form-group">
                <label class="mb-1">Indirizzo Email</label>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput type="text" name="email" placeholder="Inscerisci un indirizzo email valido" formControlName="email" />
                </mat-form-field>
                <ng-container *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                  <ng-container *ngFor="let error of f.email.errors | keyvalue">
                    <ng-container *ngIf="messages.hasOwnProperty(error.key) && messages[error.key].length">
                      <mat-error *ngFor="let message of messages[error.key]" class="invalid-feedback"
                                 [innerHTML]="message.replace('{attribute}', 'Email').replace('{value}', f.email.value)">
                      </mat-error>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>

              <div class="row mb-3 px-3">
                <button type="submit" class="btn btn-blue text-center" (click)="forgot()" [disabled]="form.invalid">Invia</button>
              </div>

            </ng-container>
            <ng-template #sentBlock>Abbiamo inviato una email all'indirizzo <strong>{{ this.form.get('email').value }}</strong>. Segui le istruzioni per resettare la password.</ng-template>

            <div class="row mb-4 px-3" style="margin-top: 20px;">
              <a class="ml-auto mb-0 text-sm" routerLink="/auth/login" i18n="back|Go Back">Torna Indietro</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
